* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    row-gap: 4px;

}

.sidebar {
    color: #f0f9ff;
    background-color: #38bdf8;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {

    background-color: whitesmoke;
    grid-column: 2 / 3;
    /* box-shadow: 0px 15px 10px -15px #111; */
    border-radius: 10px;
}

.main-content {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 5px;
    background-color: #cbd5e1;
    padding-top: 2rem;
    padding-left: 1rem;
}
    .headings {
        font-weight: 600;

    }
    .main-left {
        grid-column: 1 / 2;
    }
    .cards {
            /* display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            
            gap: 10px;
            padding: 10px 10px;         */
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            height: 90%;
            gap: 15px;
            bottom: 10;
            margin-top: 5px;
            padding: 10px

    }
        .card {
            grid-column: span 1;
            grid-row: span 1;
            border-left: 4px solid yellow;
            background-color: white;
            border-radius: 8px;
            padding-top: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .side-card {
            max-width: 85%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .side-card p {
            font-size: 0.8rem;
            margin: 0.5rem 0;
        }
        .card-svg {
            height: 1.5rem;
        }
        .card-svg-div {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
        }
        .trending-cards {
            display: flex;
            justify-content: space-around;
        }
        .trending-card > .svg {
            height: 3rem;
        }
        .account-info {
            display: inline-block;
        }
        .handle {
            font-weight: 800;
        }
    .main-right {
        grid-column: 2 /3;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
        .announcements {
            grid-row: 1 / 2;
        }
        .trending {
            grid-row: 2 / 3;
        }
h1[text] {
    text-align: right;  
}
h1 {
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}
li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem 0 2rem;
  
}
li > .svg {
    height: 1.5rem;  
}
li > span.text {
    font-size: 1.3rem;
    margin-left: 1rem;
}

h1 {
    padding: 8px;
}

.svg {
    height: 2rem;
    text-align: left;
    fill: #f0f9ff;
}


.sidebar-subSection {
    margin: 1.2rem 0;
    margin-bottom: 3rem;
}

.header {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.upper-section, .lower-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
}
    .upper-section img {
        padding-right: 1rem;
    }
    .profile-name {
        font-size: 1.25rem;
    }
    input#search {
        width: 75%;
        height: 1.5rem;
        outline: none;
        border-radius: 20px;
        padding-left: 15px;
        border: 2px solid rgb(137, 137, 172);
        background-color: #cbd5e1;
    }
    input#search:focus {
        border: none;
        outline: 2px solid #67e8f9;
    }

    .search-section {
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
    }
    .top-right {
        display: flex;
        align-items: center;
        margin: 0;   
    }

.greeting-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
    div.img {
        grid-row: 1 / 3;
    }
    .img {
        margin-left: auto;
    }
    .main-img {
        height: 3rem;
        margin-right: 1rem;
    }

    button {
        height: 2rem;
        padding: 0 1rem;
        margin: 0 1rem;
        border-radius: 0.9rem;
        background-color: #38bdf8;
        color: white;
        border: none;
    }


.main-right .card {
    height: 80%;
    background-color: white;
    border: none;
    margin: 4px;
}